*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(228, 116, 116);
    position: relative;
    text-align: center;
    margin-top: 19%;
}
.x{
    text-align: center;
    margin: 5px;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 10px;
    
}
.x:hover{
    border-color: pink;
    box-shadow: 0 0 4px 5px pink;
}